.App {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
  background-color: rgb(190, 210, 218);
}

.GreatBody{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
}

.GreatBodyAccess{
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.TopBar1{
  background-color: rgb(21, 33, 207);
  width: 100%;
}

.TopBar2{
  background-color: #333333;
  width: 100%;
  text-align: center;
  display: flex;
  flex-flow: row;
  justify-content: center;
  
}

.TopBar2 button{
  width: 100px;
}

.TopBar2 button:hover{
  background-color: #9ea59f;
}

.TopBarElement{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.TopBarButtonMenu{
  float: right;
  padding: 14px 16px;
  font-size: 17px;
}

.TopBarRouteButton{
  padding: 14px 16px;
  font-size: 17px;
}

.ButtonClicked{
  font-weight: bold !important;
  color: #eead4c !important;
  border-bottom: #eead4c solid 5px !important;
}

.ItemButtonClicked{
  font-weight: bold !important;
  color: #000000 !important;
  border-bottom: #000000 solid 5px !important;
  background-color: rgb(213, 216, 216);
}

.MenuPopUp{
  padding: 20px;
  text-align: center;
}

.MenuPopUp button{
  width: 200px;
  margin: 5px;
}

.LateralMenu {
  width: 25%;
  display: flex;
  flex-flow: column;
  height: 100%;
  float:left;
  text-align: center;
  color: rgba(15, 82, 13, 0.541);
}
.MyList{  
  color: white;
  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: rgb(66, 148, 127);
  height: 100%;
  overflow-y:auto;
  text-align: center;
}

.MyList table{
  width:100%;
}

.MyList td{
  padding-top: 5px;
}

.MyList table button{
  width:100%;
}

.MyList table button:hover{
  background-color: rgb(194, 209, 209);
}

.ItemButton{
  background-color: rgb(240, 240, 240);
  color: rgb(15, 12, 12);
  width: 90%;
  text-align: left;
}


.GenericModalBody button{
  width:100%;
}


.ContentContainer{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  float:left;
  text-align: center;
}

.ElementContent{
  width: 100%;
  height: 85%;
}

.ElementFooter{
  width: 100%;
  height: 15%;
  background-color: #4CAF50;
  padding: 2%;
}

.ElementFooter button{
  margin: 0%;
}

.RuleContent{
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

.RuleEvaliation{
  font-size: 15px;
}

.RuleHeader{
  width: 100%;
  height: fit-content;
  display: flex;
  flex-flow: column;
}

.RuleHeaderSection{
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.RuleHeaderButtons{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 2%;
}

.ClickedRuleBodyButton{
  font-size: 15px !important;
  width: 30%;
  font-weight: bold !important;
  border: solid black 2px !important;
  background-color: #eead4c !important;
  border-radius: 0px !important;
  border-right: none !important;
}

.UnclickedRuleBodyButton{
  font-size: 12px;
  border-radius: 0px !important;
  background-color: #cccccc !important;
}

.AddRuleElementButton{
  border: solid black 2px !important;
}

.RuleBody{
  display: flex;
  width: 100%;
  height: 100%;
}

.RuleAntecedentDetail{
  border: solid black 2px;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  max-height: 100%;
  background-color: #e6e6e6;
  overflow-y: auto;
  text-align: center;
  padding-top: 5%;
  
}

.RuleConsequentDetail{
  width: 100%;
  height: 100%;
  border: solid black 2px;
  border-radius: 25px;
  background-color: #e6e6e6;
  overflow-y: auto;
  text-align: center;
  padding-top: 5%;
  padding-bottom: 5%;
}

.RuleConsequentDetail thead th{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #9ca332 !important;
  color: white;
}

.RuleAntecedentDetail thead th{
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #55bd4b !important;
  color: white;
}


.deleteRuleRow button{
  background-color: rgb(240, 179, 179);
}


#tableRule {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

#tableRule tbody{
  background-color: white;
}

#tableRule th {
  background-color: #333333;
  color: white;
  border: 1px solid rgb(252, 252, 252);
  font-size: 10px;
  padding: 5px;
  text-align: center; 
}

#tableRule td {
  border: 1px solid rgb(8, 8, 8);
  padding: 5px;
  font-size: 10px;
  text-align: center; 
}

.DeviceContentDetail{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
}



.DeviceDetail-sx{
  width: 50%;
  float:left;
  border-style: solid;
  border-left: #0c0c0c;
  border-top: none;

}

.SingleDeviceDetail{
  width: 100%;
  height: auto;
  float:left;
  border: #0c0c0c;
  border-style: solid;
  border-bottom: none;
  border-left: none;
  border-right: none;
  text-align: center;
}

.DeviceDetailInfoHeader{
  width: 30%;
  height: 100%;
  float:left;
  text-align: center;
}

.DeviceDetailContent{
  width: 70%;
  height: 100%;
  float:left;
  text-align: left;
  padding-left: 5px;
}

.ConsequentContentModal .DeviceDetailInfoHeader{
  background-color: #eead4c;
}

.AntecedentContentModal .DeviceDetailInfoHeader{
  background-color: #59ee4c;
}

#bigTitle.SingleDeviceDetail{
  background-color: #eead4c;
}

#AntecedentbigTitle.SingleDeviceDetail{
  background-color: #59ee4c;
}

.SingleDeviceDetail table{
  width: 100%;
  margin: auto;
  margin-top: 5px;
}

.SingleDeviceDetail td{
  padding: 4px;
}

.SingleDeviceDetail button{
  width: 60%;
}

#ruleList.SingleDeviceDetail{
  overflow-y:auto;
}

